body {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-color: #FDFDFD;
}

.toptitle{
    background: url('mmm.jpg') no-repeat center center/cover;
    height: 100vh; /* Full viewport height */
    align-items: center;
    justify-content: center;
}


#title {
     background-color: transparent;
     padding-bottom: 14rem;
}

#navbarNav {
    font-family: 'Oswald', sans-serif;
    justify-content: flex-end;
    margin-right: 5%;
    
}
